/* FORMATAÇÃO DA PAGINA PODCASTS */

@font-face{
    font-family: franklin;
    src: url(/franklin-gothic-demi.ttf);
}

#cabecalho{
    height: 33.5vh;
}

.container-podcast{
    font-family: franklin;
    width: 65%;
    height: 100%;
    background-color: #def5ff;
    border: 3px solid #3fa9f5;
    border-bottom-left-radius: 25px;
}

.pod-title h1{
    font-family: franklin;
    text-align: center;
    font-size: 2rem;
}

.fa-microphone-lines{
    padding: 1vh;
}

.pod-cabecalho{
    height: 10vh;
    margin-left: 2vh;
}

.pod-cabecalho h1{
    color: #005caa;
    font-size: 1.8rem;
}

.pod-cabecalho p{
    font-size: 1.2rem;
    margin-top: -1.3vh;
}

#divBusca{
    float: right;
    border: 2px solid #005caa;
    background-color:#ffffff;
    border-radius:20px;
    width:300px;
    margin-top: -6vh;
    margin-right: 2vh;
}

#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:1vh;
    font-style:italic;
    font-size: 1.2rem;
    border:none;
    height:32px;
    width:260px;
}

.fa-magnifying-glass{
    font-size: 1.5rem;
    margin-top: 0.5vh;
    color: #005caa;
}

.container-podcast hr{
    width: 98%;
}

.podcast-conteudo{
    margin-left: 2vh;
    margin-bottom: 2vh;
    width: 96%;
}

.podcast-conteudo img{
    width: 100%;
    height: 25vh;
}

.podcast-conteudo p, h3{
    font-size: 1.5rem;
    justify-items: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    text-align: justify;
}

.podcast-conteudo h3{
    font-size: 1.5rem;
}

.podcast-conteudo p{
    font-size: 1.2rem;
}

.podcast-conteudo a{
    color: #0938b8;
    text-decoration: none;
    transition: 0.2s;
}

.podcast-conteudo a:hover{
    color: #011a5f;
}

.data{
    background-color: #3fa9f5;
    width: 45%;
    height: 9%;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-left: 1vh;
    padding-top: 0.1vh;
}

#btn-5{
    background-color: #06b6e2;
    
}
#nav-side #btn-5 a{
    color: white;
}